/* Document */
html {
  overflow-y: scroll;
}

body {
  padding-bottom: 25px;
}

/*  */

/* ID's */

/* Sidebar */
#main {
  transition: 0.5s;
  padding-left: 0px;
  background-color: transparent;
}
/*  */

/* Search Cards */
#search-cards {
  background-color: #242424;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;

#add-to-workspace {
  margin-top: 45px;
  color: #ffffff;
}

#search-cards-logo {
  border-radius: 75px;
  width: 80px;
  height: 80px;
  background-color: white;
}

box.search-box {
  border-radius: 0px;
}
/*  */

/* Main Cards */
#main-stock-cards {
  background-color: #242424;
  border: dotted thin;
  border-color: rgb(44, 0, 33);
  border-radius: 5px;
  margin: 3px;
  padding-right: 0px;
}

#main-card-body {
  padding-right: 0px;
}

#main-card-logo {
  width: 50px;
  height: 50px;
  border-radius: 75px;
  margin-left: 32px;
  background-color: white;
}

#close-btn-main-card {
  margin-left: 60px;
  margin-bottom: 20px;
}

#close-card-icon {
  background-color: white;
}

#nytimes-sidebar-button {
  height: 40px;
  width: 45px;
  background-color: transparent;
  outline: none;
}

#stock-info-main-card {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

canvas {
  padding: 8px;

hr {
  background-color: rgba(131, 121, 121, 0.623);
  margin: 1px;
}

h3 {
  margin: 5px;
}

#main-card-icons {
  min-width: 100px;
}

#display-graph-button {
  height: 45px;
  width: 45px;
  background-color: transparent;

  margin-left: 45px;
}
#graph-button {
  border: none;
  outline: none;
}

#main-news-card {
  padding: 10px;
  border: dotted thin black;
}

#divider-main {
  margin-bottom: 15px;
}

/*  */
/*  */

/* Classes */
.icon {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.icon:hover {
  background-color: rgb(139, 138, 138);
  border: none;
  outline: none;
  border-radius: 75px;
}

.sidebar {
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 0px;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: rgb(53, 51, 51);
  transition: 0.3s;
  padding-top: 120px;
  padding-bottom: 40px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.2s;
  width: 100%;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  border: none;
  margin-left: 50px;
  margin-top: 5px;
}

.openbtn:hover {
  background-color: #444;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  margin-left: 235px;
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 235px;
    margin-top: 100px;
  }
}

.media {
  align-items: flex-start;
  display: flex;
  text-align: inherit;
}

.block:not(:last-child),
.box:not(:last-child),
.breadcrumb:not(:last-child),
.content:not(:last-child),
.highlight:not(:last-child),
.level:not(:last-child),
.message:not(:last-child),
.notification:not(:last-child),
.pagination:not(:last-child),
.progress:not(:last-child),
.subtitle:not(:last-child),
.table-container:not(:last-child),
.table:not(:last-child),
.tabs:not(:last-child),
.title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.box {
  border-radius: 0px;
}
/* */

/* NAVBAR REDO */
.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  flex-wrap: wrap;
  background-color: #242424;
  padding: 8px;
}

.logo {
  width: 270px;
  font-size: 35px;
  font-weight: bold;
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  flex-wrap: wrap;
  padding-left: 8px;
}

#search-input-field {
  border-radius: 75px;
  border: thick;
  padding: 8px;
  margin: 7px;
  padding-left: 25px;
  font-size: 17px;
  outline: none;
}

#submit-search-btn {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 75px;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}

#submit-search-btn:hover {
  background-color: rgb(15, 15, 15);
  border-radius: 75px;
}

.search-box {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.search-box input {
  flex: 1;
  max-width: 600px;
  font-size: 15px;
}

.search-box button {
  margin-top: 0.2rem;
  padding: 0px;
}

strong {
  color: #ffffff;
}
/*  */

/* Footer */
#github-footer {
  margin-left: 8px;
  background-color: #242424;
  outline: none;
  cursor: pointer;
}

#footer {
  background-color: #242424;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
/* */


@media only screen and (min-width: 600px) {
  canvas {
    max-width: 400px !important;
    max-height: 200px !important;
    background-color: #e9e8e8;
    margin-left: 30px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 600px) {
  canvas {
    max-width: 200px !important;
    max-height: 100px !important;
    background-color: #e9e8e8;
    margin-left: 0px;
    border-radius: 5px;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 20px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(155, 155, 155, 0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(155, 155, 155, 0.8);
}
